.App-logo {
  max-width: 550px;
  margin: 0px auto;
  padding: 10px;
  @media screen and (max-width: 980px) {
    max-width: 100%;
  }
}

.container-header {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 30px 0;
  background-image: linear-gradient(
    to right,
    $color-primary 0%,
    $color-secondary 25%,
    $color-tertiary 80%
  );

  @media screen and (max-width: 980px) {
    align-content: center;
    flex-direction: column;
    gap: 5px;
    margin-left: 0;
  }
}
