.edit-post {
  border: 1px solid #fd2d01;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  max-width: 70vh;
  @media screen and (max-width: 700px) {
    margin: 0 20px;
    padding: 10px;
  }
}

.title-post {
  @media screen and (max-width: 700px) {
    font-size: 20px;
    text-align: center;
  }
  margin-bottom: 5px;
  padding: 9px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  background: linear-gradient(to right, #0e206f 0%, #cd623f 55%, #0e206f 100%);
  background-clip: text;
  color: transparent;
}
.publish-post {
  background-image: linear-gradient(
    to right,
    #403b4a 0%,
    #e7e9bb 51%,
    #403b4a 100%
  );
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border: transparent;
  color: $color-tertiary;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 0 20px #eee;
  border-radius: 25px;
  width: 90px;
  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

#img.file-upload-button {
  font-size: 20px;
  padding: 40px;
}

#publish-description {
  border-radius: 20px;
  width: 80%;
  height: 80px;
  border: 1px solid #0e206f;
}
