.homepage {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
  
.homepage-logo {
    width: 200px;
    height: 200px;
}

.homepage-text {
    font-size: 25px;
    color: #fd2d01;
}

.homepage-link-content {
    padding: 10px 19px;
    font-size: 25px;
    border: transparent;
    border-radius: 25px;
    background-color: #ffd7d7;    
}

a {
    color: black;
    text-decoration: none;
}