.utils-post {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.container-cards,
.content-edit {
  padding: 0;
  @media screen and (max-width: 700px) {
  }
}

.card-container {
  border: 2px solid #fd2d01;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
}

.no-feed {
  text-align: center;
  font-size: 35px;
  color: $color-primary;
}
.feed {
  max-width: 60vh;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    margin: 0 20px;
  }
}
